* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

.App {
  box-sizing: content-box;
  height: max-content;
  width: max-content;
  margin: 0 auto;
  border: 1rem solid var(--accent-color);
  padding: 1rem;
  text-align: center;
  background-color: white;
}
